section {
  background-color: #ffffff;
  background-image: url("/assets/landingbg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% -25%;
  min-height: 100%;
}

.hero-container{
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  place-items: center;
}

@media screen and (max-width: 760px) {
  .hero-container{
    grid-template-columns: 1fr;
  }
  .hero-container img{
    padding-bottom: 30px;
    order: -1;
  }
  section{
    background-size: 200%;
    background-position: 50% 100%;
  }
}
