<section class="font-Poppins">
<!--  hero section /-->
  <div class="hero-container">
    <div class="text-center px-10 flex flex-col gap-3 items-center">
      <h1 class="text-5xl font-bold">
        Welcome to <span class="text-purple-700">Mela</span>
      </h1>
      <h2 class="text-2xl font-bold">Empower Your Dreams!</h2>
      <p class="text-[1rem] font-light">
        Are you ready to make a difference, create lasting impact, and bring your dreams to life? Look no further than Mela, your platform for meaningful crowdfunding.
      </p>
      <button class="bg-buttonbg drop-shadow-xl px-4 py-2 rounded-lg text-white">
        Get Started ->
      </button>
    </div>
    <img src="assets/landingImage.svg">
  </div>

</section>
