<div class="container">
    <div class="title">
        <h1>Title of the Campaign</h1>
    </div>
    <div class="top-container">
        <div class="image-container">
           <img src="{{campaigns[0].imagePath}}" alt="">
        </div>
        <div class="right-container">
            <div class="owner-card">
                <img src="{{campaigns[0].creatorImage}}" alt="" class="owner-image-container" >
                <div class="owners-properties">
                    <div>
                        <h5>Owner</h5>
                        <h3>{{campaigns[0].creator}}</h3>
                    </div>
                    
                    <p class="timeofcreation">time of creation: <span>{{campaigns[0].timeOfCreation}}</span></p>
                </div>
            </div>
            <div class="fund-status-card">
                <div class="goal-discription">
                    <p>Goal of {{campaigns[0].goalAmount}}.Birr</p>
                    <div class="progress-container">
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-bar" [style.width.%]="campaigns[0].totalRaised/campaigns[0].goalAmount*100">{{campaigns[0].totalRaised/campaigns[0].goalAmount * 100}}%</div>
						</div>
                        <p>{{campaigns[0].totalRaised}}.Birr funded</p>
                    </div>
                </div>
                <button class="fund-button">Fund this page</button>
                <button class="share-button"> Share</button>
                <div class="icons-container">
                    <div class="icons">
                        <img src="../../assets/bookmark.png" alt="" class="icon-image">
                        <img src="../../assets/share.png" alt="" class="icon-image">
                    </div>
                    <div class="socialIcon">
                        <img src="../../assets/facebook (2).png" alt="" class="icon-image">
                        <img src="../../assets/instagram.png" alt="" class="icon-image">
                        <img src="../../assets/youtube.png" alt="" class="icon-image"></div>
                </div>

            </div>
        </div>
    </div>
	<div class="story">
		<h2>Campaign Story</h2>
		<p>{{campaigns[0].story}}</p>
	</div>
    <div>
		<div class="campign_container">
			<h3>Campaigns made by Name</h3>
			<div class="campaign-cards">
			  <div class="campaign-card" *ngFor="let campaign of campaigns" >
				<img src="{{campaign.imagePath}}" alt="Campaign Image">
				<h2>{{campaign.title}}</h2>
				<p>{{campaign.description}}</p>
				<a href="#" class="detail-button">Details</a>
			  </div>
		</div>
    </div>
    <div>
    </div>
</div>