
<header>
  <div class="container">
    <div class="user-info">
      <img src="{{user.image}}" alt="Profile Picture">
      <div>
        <h3>{{user.name}}</h3>
        <h5>@{{user.username}}</h5>
        <p>
          <a href="{{user.socialMediaLinks.twitter}}"><i class="fab fa-facebook-f fa-2x"></i></a>
          <a href="{{user.socialMediaLinks.instagram}}"><i class="fab fa-twitter fa-2x" ></i></a>
          <a href="{{user.socialMediaLinks.linkedin}}"><i class="fab fa-instagram fa-2x"></i></a>
        </p>
      </div>
    </div>
    <div class="user-bio">
      <h1>About me</h1>
      <p>{{user.bio}}</p>
    </div>
  </div>
</header>
<main>
  <div class="container">
    <div class="stat-cards">
      <div class="stat-card">
        <div class="money">
          <h2>{{user.money}}</h2>
          <h2>Birr</h2>
        </div>
        <p>Total Raised</p>
      </div>
      <div class="stat-card">
        <div>
          <img src="../../assets/share.png" alt="">
          <h2>{{user.shares}}</h2>
        </div>
        <p>Shares</p>
      </div>
      <div class="stat-card">
        <div>
          <img src="../../assets/heart.png" alt="">
          <h2>{{user.likes}}</h2>
        </div>
        <p>Likes</p>
      </div>
    </div>
    <div class="campign_container">
    <h3>Campaign made by Name</h3>
    <div class="campaign-cards">
      <div class="campaign-card" *ngFor="let campaign of campaigns">
        <a routerLink="/campaign/{{campaign.Id}}">
        <img src="{{campaign.imagePath}}" alt="Campaign Image">
        <h2>{{campaign.title}}</h2>
        <p>{{campaign.description}}</p>
        <a routerLink="campaign/:{{campaign.Id}}" class="detail-button">Details</a>
      </a>
      </div>
    </div>
  </div>
  </div>
</main>
