
      <header>
        <div class="container">
          <div class="user-info">
            <img src="https://via.placeholder.com/150" alt="Profile Picture">
            <div>
              <h3>Kebede Ayalew</h3>
              <p>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </p>
            </div>
          </div>
          <div class="user-bio">
            <h1>About me</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel lacus tellus. Nulla in sodales enim. Phasellus rutrum euismod magna, et tristique odio bibendum sit amet. Suspendisse vitae feugiat nisl. Etiam ac tincidunt massa.</p>
          </div>
        </div>
      </header>
      <main>
        <div class="container">
          <div class="stat-cards">
            <div class="stat-card">
              <div>
                <h2>25,000 Birr</h2>
              </div>
              <p>Total Raised</p>
            </div>
            <div class="stat-card">
              <div>
                <img src="../../assets/share.png" alt="">
                <h2>500</h2>
              </div>
              <p>Shares</p>
            </div>
            <div class="stat-card">
              <div>
                <img src="../../assets/heart.png" alt="">
                <h2>2,500</h2>
              </div>
              <p>Likes</p>
            </div>
          </div>
      
          <div class="campaign-cards">
            <div class="campaign-card">
              <img src="https://via.placeholder.com/300x200" alt="Campaign Image">
              <h2>Campaign Title 1</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel lacus tellus. Nulla in sodales enim. Phasellus rutrum euismod magna, et tristique odio bibendum sit amet.</p>
              <a href="#" class="detail-button">Details</a>
            </div>
            <div class="campaign-card">
              <img src="https://via.placeholder.com/300x200" alt="Campaign Image">
              <h2>Campaign Title 2</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel lacus tellus. Nulla in sodales enim. Phasellus rutrum euismod magna, et tristique odio bibendum sit amet.</p>
              <a href="#" class="detail-button">Details</a>
            </div>
            <div class="campaign-card">
              <img src="https://via.placeholder.com/300x200" alt="Campaign Image">
              <h2>Campaign Title 3</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel lacus tellus. Nulla in sodales enim. Phasellus rutrum euismod magna, et tristique odio bibendum sit amet.</p>
              <a href="#" class="detail-button">Details</a>
            </div>
          </div>
        </div>
      </main>
            