<div class="container">
    <div class="search-container">
        <input type="text" id="search-input" class="search-input" placeholder="Search for campaigns...">
        <button id="search-button" class="search-button">Search</button>
    </div>
    <div class="cards-container">
        <div class="card" *ngFor="let campaign of campaigns">
            <a routerLink="/allcampaign/{{campaign._id}}">
                <img src="{{campaign.imagePath}}" alt="Campaign Image" class="card-image">
                <div class="card-content">
                    <h3 class="card-title">{{campaign.title}}</h3>
                    <p class="card-creator">by {{campaign.creator}}</p>
                    <div class="progress-container">
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" [style.width.%]="campaign.totalRaised/campaign.goalAmount*100">{{campaign.totalRaised/campaign.goalAmount * 100}}%</div>
                        </div>
                        <p>{{campaign.totalRaised}}.Birr raised</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>